In [1]:
list2 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]

In [2]:
for i in list2:
    if i % 2 ==0:
        print(i)
    else:
        print('odd number')

odd number
2
odd number
4
odd number
6
odd number
8
odd number
10
odd number
12
odd number
14
odd number

In [3]:
# find the product of all numbers present in a list
lst = [10,20,30,40,50]

In [4]:
lst = [10, 20, 30, 40, 50]
product = 1
for i in lst:
    product = product * i

print("product ", product)

product  12000000

In [5]:
# for - else

In [6]:
number = [1, 2, 3]

for item in number:
    print(item)
    
else:
    print("no item left in the list")

1
2
3
no item left in the list

In [7]:
fruits_list = ["Mango", "cherry", "Apple", "Papaya", "Banana"]

In [8]:
for i in fruits_list:
    print(i)
for j in i:
    print(j)

Mango
cherry
Apple
Papaya
Banana
B
a
n
a
n
a

In [9]:
for i in fruits_list:
    print(i)
    for j in item:
        print(j)

Mango

TypeError: 'int' object is not iterable

In [10]:
for i in fruits_list:
    print(i)
    for j in i:
        print(j)

Mango
M
a
n
g
o
cherry
c
h
e
r
r
y
Apple
A
p
p
l
e
Papaya
P
a
p
a
y
a
Banana
B
a
n
a
n
a

In [11]:
# print a prime number from 50 to 100

In [12]:
num1 = 50
num2 = 100

for num in range(num1, num2+1):
    if num > 1:
        isDivisible = False
        for i in range(2, num):
            if num % i == 0:
                isDivisible = True
        if isDivisible == False:
            print(num)

53
59
61
67
71
73
79
83
89
97

In [13]:
tup = (1, 2, 3, 4,5)
for t in tup:
    print(t)

1
2
3
4
5

In [14]:
list5 = [(2,4), (6,8), (10,12)]

In [15]:
for tup in list5:
    print(tup)

(2, 4)
(6, 8)
(10, 12)

In [16]:
for (t1,t2) in list5:
    print(t1)

2
6
10

In [17]:
for (t1,t2) in list5:
    print(t2)

4
8
12

In [18]:
#tuple unpacking